.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.App h3 {
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.palette {
  display: flex;
  flex-direction: column;
}

.palette button {
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
}

.palette input {
  width: 100px;
  height: 40px;
}